* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background:#151218;
    color: #fff;
    padding: 18px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* .logo {
    font-size: 24px;
} */

.logo img{
    width: 150px;
    height: 32px;
}




.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-button {
    margin: 0 15px;
}

.nav-button .login-btn{
    background: transparent;
    color: #d6336c;
    margin: 0 10px;
    border: none;
}

.nav-button .talk-btn{
    background: linear-gradient(45deg, #ff6f61, #d6336c, #6a0572);
    border: none;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.talk-btn:hover {
    background: linear-gradient(45deg, #6a0572, #d6336c, #ff6f61);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
}

.section {
    padding: 50px 20px;
    /* text-align: center; */
}

.section:nth-of-type(odd) {
    background: #151218;
}

.section:nth-of-type(even) {
    background: #151218;
}

.home{
    display: flex;
    justify-content: space-between;
}

.home .home-content{
    width: 50%;
    background-color:#151218;
    padding-left: 70px;

}

.home .home-content h1{
    text-align: left;
    color: white;
    font-size: 45px;
    letter-spacing: 1px;
}

.home .home-content h2{
    text-align: left;
    color: white;
    font-size: 13px;
    font-family: monospace;
}

.home-content button{
    margin-top: 20px;
    background-color: #a1ff3d;
    border: none;
    color: rgb(39, 4, 66);
    padding: 15px 30px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home-content button:hover {
    background-color: #6a0572;
    color: #ffffff;
    box-shadow:  0 8px 16px rgba(212, 163, 255, 0.2);
}


.home .home-logo{
    width: 50%;
    background-color: #151218;
}

.home .home-logo img{
    margin-left: 100px;
    margin-top: 0;
    height: 480px;
    width: 480px;
}

#section1{
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 110px;
}

#section2{
    background-color: #fff;
    height: 80vh;
    width: 100%;
}


#section2 h1{
    margin: 0 0;
    font-size: 30px;
    text-align: center;
}

.Question-box{
    display: flex;
    width: 80%;
    margin: 15px auto;
    justify-content:space-evenly;
}

.box{
    height: 250px;
    width: 220px;
    background-color: #f1e9fc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    margin: 10px 5px;
}

.box h3{
    margin: 5px 0;
}

.box p{
    color: black;
    font-size: 12px;
}

.box img{
    height: 50px;
    width: 50px;
}

footer {
    background: #151218;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .menu-toggle {
        display: flex;
    }
}


@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

}
